body {
    padding: 10px;
    background-color: gray;    
    color:white;
}

button,
input {
  margin: 5px;
}

input {
    font-size: 12px;
}

label {
    font-weight: bold;
}

#animals {
    display: flex;
    flex-wrap: wrap;
}

#animals div {
    margin: 5px;
}

.container {
    margin-bottom: 10px;
}